a {
    text-decoration: none;
    padding: 0.25em .5em;
    text-transform: uppercase;
    min-width: 42px;
    background-color: #3B42C9;
    color: #F2F2F2;
}

.invert {
    filter: invert(1);
}

h1 {
    display: inline;
}

header#main-header {
    padding: 0;
    display: flex;
}

header#main-header,
footer#main-footer {
    background-color: #3B42C9;
    color: #F2F2F2;
}

footer#main-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}